.hero-section {
  background: url("/static/images/public/hero.jpg") center center / cover no-repeat;
  position: relative;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@media (max-width: 767.98px) {
  h1.display-1 {
    font-size: 2.5rem;
  }

  .fs-4 {
    font-size: 1rem;
  }
}
