{% extends "base.html" %} {% block title %}{{ performance.nome_artista }} -
Performance{% endblock %}
{% block styles %}
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/public/performance.css') }}"
/>
{% endblock %} 
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-lg border-0 p-5">
        
        <section class="row g-4 flex-md-row-reverse">
          <div class="col-md-5">
            <img
              src="{{ performance.immagine }}"
              alt="{{ performance.nome_artista }}"
              class="img-fluid rounded w-100 h-100 fit"
            />
          </div>
          <div class="col-md-7 d-flex flex-column justify-content-center">
            <h1 class="display-5 mb-5">{{ performance.nome_artista }}</h1>

            <div class="mb-5">
              <p class="fs-5 mb-4">
                <strong>Genere:</strong><br />
                {{ performance.genere }}
              </p>

              <p class="fs-5 mb-4">
                <strong>Giorno:</strong><br />
                {{ performance.giorno }}
              </p>

              <p class="fs-5 mb-4">
                <strong>Orario:</strong><br />
                {{ performance.orario }}
              </p>

              <p class="fs-5 mb-4">
                <strong>Durata:</strong><br />
                {{ performance.durata }} minuti
              </p>

              <p class="fs-5 mb-4">
                <strong>Palco:</strong><br />
                {{ performance.palco }}
              </p>

              <p class="fs-5 mb-4">
                <strong>Inserita il:</strong><br />
                {{ performance.data_inserimento }}
              </p>
            </div>
          </div>
        </section>

        <section class="row mt-5">
          <div class="col-12">
            <h4 class="mb-4">Descrizione</h4>
            <p class="fs-5 lh-lg text-justify">{{ performance.descrizione }}</p>
          </div>
        </section>

        <section class="row mt-5">
          <div class="col text-center">
            <a
              href="{{ url_for('public.performances') }}"
              class="btn btn-outline-primary btn-lg px-5 py-3"
            >
              Torna alla lista delle performance
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
